{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}

{% block title %} Присоединение к организации {% endblock %}

{% block content %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Подтвердите принятие приглашения</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item active"><a href="{% url 'main_page' %}">Главная</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'organizations:organization_list' %}">Организации</a></li>
                        <li class="breadcrumb-item">Присоединение к организации</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    
    <section class="content">
        <div class="d-flex justify-content-left">
            <div class="col-lg-6">
                <form method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary btn-lg">Присоединиться</button>
                </form>
            </div>
        </div>
    </section>
{% endblock %}