{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    <p>Информация о заявке {{ lead.id }}</p>
{% endblock %}

{% block content %}
    <a href="{% url 'organizations:leads:lead_list' org_id %}">Вернуться к списку заявок</a>
    <hr />

    <h1>Информация о заявке {{ lead.id }}</h1>
    <p>Клиент: {{ lead.first_name }} {{ lead.last_name }}</p>
    <p>Клиент: {{ lead.order }} - {{ lead.price }}</p>
    <p>Клиент: {{ lead.phone }} {{ lead.email }}</p>
    <p>Клиент: {{ lead.status }} {{ lead.date_updated }}</p>
    <p>Клиент: {{ lead.comment }}</p>
    <p>Клиент: {{ lead.date_created }}</p>
    <hr />

    <a href="{% url 'organizations:leads:lead_update' org_id=org_id pk=lead.pk %}">Редактировать</a>
    <a href="{% url 'organizations:leads:lead_delete' org_id=org_id pk=lead.pk %}">Удалить</a>
{% endblock %}