{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    Информация о заявке №{{ lead.id }}
{% endblock %}

{% block content %}
    <a href="{% url 'organizations:leads:lead_list' org_id %}">Вернуться к списку заявок</a>
    <hr />

    <h1>Информация о заявке {{ lead.id }}</h1>
    <p>Клиент: {{ lead.first_name }} {{ lead.last_name }}</p>
    <p>Заказ: {{ lead.order }}</p>
    <p>Стоимость: {{ lead.price }} руб.</p>
    <p>Контакты: {{ lead.phone }}, {{ lead.email }}</p>
    <p>Статус: {{ lead.status }} </p>
    <p>Комментарий: {{ lead.comment }}</p>
    <p>Создан: {{ lead.date_created }}</p>
    <p>Последнее обновление: {{ lead.date_updated }}</p>
    <hr />

    <a href="{% url 'organizations:leads:lead_update' org_id=org_id pk=lead.pk %}">Редактировать</a>
    <a href="{% url 'organizations:leads:lead_delete' org_id=org_id pk=lead.pk %}">Удалить</a>
{% endblock %}