{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %} Восстановление пароля {% endblock %}

{% block content %}
    <section class="content-header">
        <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Восстановление пароля</h1>
            </div>
            <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item active"><a href="{% url 'main_page' %}">Главная</a></li>
                <li class="breadcrumb-item">Восстановление пароля</li>
            </ol>
            </div>
        </div>
    </section>
    
    <section class="content">
            <div class="d-flex justify-content-center">
                    <h4>
                        Мы отправили вам на почту письмо с инструкцией по восстановлению пароля.
                        Обычно письмо приходит в течение 5 минут.
                    </h4>
            </div>
    </section>
{% endblock %}

